/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  // background-color: var(--body-color);
  background-color: "yellow";
}

ul {
  list-style: none;
  // Color highlighting when pressed on mobile devices
  // -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}
